* {
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(circle at 0% 0%, #f4ffff 0, #b5d4ff 25%, #7b9bff 50%, #4965a9 75%, #20355c 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.empty {
  width: 150px;
  height: 150px;
  border: solid 3px #333;
  margin: 10px;
  background-color: #fff;
}

.fill {
  background-color: black;
  width: 148px;
  height: 150px;
  cursor: pointer;
}

.hold {
  border: solid 5px #eee;
}

.hover {
  background-color: #333;
  border-style: dashed;
  border-color: #fff;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}
